.product-table__filter {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.product-table__filter.active::before {
    content: '';
    background-image: url(../../images/arrow-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 7px;
}

.product-table__filter.active.decrease::before {
    transform: rotate(180deg);
}