.order-history__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    gap: 5px 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}